CRYSTALLIZE_TENANT_IDENTIFIER=furnitut
CRYSTALLIZE_TENANT_ID=66d6f90eeeb7a544a0d94362
CRYSTALLIZE_ACCESS_TOKEN_ID=xXx
CRYSTALLIZE_ACCESS_TOKEN_SECRET=xXx

#Stripe
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=xXx
STRIPE_SECRET_KEY=xXx
STRIPE_WEBHOOK_SECRET=xXx

#Mailer
MAILER_DSN=xXx

NEXT_PUBLIC_CANONICAL_URL=https://example.com
